body,
html,
#root,
.App {
    max-width: 100%;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-flow: row wrap;
    background-color: #f5f8fa;
    align-items: center;
    justify-content: center;
}

.App-brand {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-weight: 400;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
